body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-Link {
  text-decoration: none;
  color : lightgray;
  margin: 0 10px;
}
.nav-Link:hover {
  text-decoration: none;
  color : white;
  font-weight: bold;
  cursor: pointer;
}
.footer-div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.item{
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 25px;
  background-color: lightgray;
  margin: 10px;
  padding: 5px 20px; 
  
}
.item-content{
  max-width : 300px;
  display : grid;
  grid-template-columns : 1fr 3fr;
}
.item-add button {
  width: 200px;
  font-weight: bold;
}
.container {
  max-height: 60vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar{
  display: none;
}
.cart {
  padding: 20px;
  margin: 0 20%;
  border-radius: 20px;
  background-color: lightgrey;
  min-height: 200px;
  max-height: 30%;
  overflow: auto;
}
.cart-content {
  padding: 40px;
  display: inline-block;
}

/* login-style */
.container{
  font-family: 'Numans', sans-serif;
  height: 100%;
  align-content: center;
  }
  
  .card{
  height: 370px;
  margin-top: 10vh;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  }
  
  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
  }
  
  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }
  
  .card-header h3{
  color: white;
  }
  
  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }
  
  .input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }
  
  .remember{
  color: white;
  }
  
  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }
  
  .login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  }
  
  .login_btn:hover{
  color: black;
  background-color: white;
  }
  
  .links{
  color: white;
  }
  
  .links a{
  margin-left: 4px;
  }
/* register-style */
.main{
  margin-top: 10px;
}

h1.title { 
 font-size: 50px;
 font-family: 'Passion One', cursive; 
 font-weight: 400; 
}

hr{
 width: 10%;
 color: #fff;
}

.form-group{
 margin-bottom: 15px;
}

label{
 margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

.main-login{
  background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
   padding: 40px 40px;

}

.login-button{
 margin-top: 5px;
}

.login-register{
 font-size: 11px;
 text-align: center;
}


